@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Empréstimo de Livros Online</h1>
    <p>Os livros são como portais para mundos infinitos, e quem os ama, encontra a magia em cada página.</p>

    <div>
        <img src="img/livro.png" class=" img-fluid w-50" />
    </div>
</div>
